.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

img {
  width: 45%;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100%/ 3);
}

.text-center {
  text-align: center;
}
