body {
  text-align: center;
  font-family: "Brandon Grotesque", sans-serif;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(236 92 87);
}

input {
  width: 25rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 8px;
  margin-bottom: 10px;
}

input::placeholder {
  color: rgb(153 153 153);
}

label {
  font-weight: bold;
  font-size: 11px;
  margin-right: 10px;
  text-align: start;
}

select {
  width: 25rem;
  padding: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: rgb(243 243 243);
}

button {
  font-family: "Brandon Grotesque", sans-serif;
  color: white;
  background-color: rgb(236 92 87);
  padding: 5px 18px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 20rem;
}

.label-email {
  margin-right: 18.5rem;
}

.label-name {
  margin-right: 22rem;
}

.label-location {
  margin-right: 16rem;
}

.label-engineer {
  margin-right: 2.5rem;
}
