.row {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.column-full {
  width: 100%;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
